/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

img {
  height: 60px;
  width:fit-content;
  z-index: 1
}

img:hover {
  height: 65px;
  width: fit-content;
}

.uta {
  height: 50px
}

/* general bracket */

main {
  display: flex;
  max-height: 100%;
  max-width: 100%;

}

.firstRound, .secondRound, .thirdRound, .finals{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
}

.secondRound {
  justify-content: space-around;
  padding: 5% 0 5% 0;
}

.finals {
  height: 100%;
}

.finals .border {
  height: 25%;
  border-top: 5px solid grey;
}

.hidden {
  display: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* western conference */

.conference{
  display: flex;
  flex: 1;
  height: 800px;
  padding-left: 100px;
}

.firstLeft, .secondLeft, .thirdWest{
  height: 12.5%;
  width: 100%;
  border-top: 5px solid grey;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
}

.secondLeft {
  height: 25%;
}

.thirdWest {
  height: 47%;
}

/* eastern conference */

.eastConference {
  display: flex;
  flex: 1;
  height: 800px;
  padding-right: 100px;
}

.firstEast, .secondEast, .thirdEast{
  height: 12.5%;
  width: 100%;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-bottom: 5px solid grey;
}

.secondEast {
  height: 25%;
}

.thirdEast {
  height: 47%;
}

.matchup {
  display: flex;
  flex-direction: column;
  transform: translate(50%, -30px);
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.matchupWest {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -30px);
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.matchupSecond{
  display: flex;
  flex-direction: column;
  transform: translate(50%, -13%);
  justify-content: space-between;
  align-items: center;
  height: 235px;
}

.matchupSecondWest{
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -13%);
  justify-content: space-between;
  align-items: center;
  height: 235px;
}

.matchupThird{
  display: flex;
  flex-direction: column;
  transform: translate(50%, -7%);
  justify-content: space-between;
  align-items: center;
  height: 430px;
}

.matchupThirdWest{
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -7%);
  justify-content: space-between;
  align-items: center;
  height: 430px;
}

.westFinalist{
  position: absolute;
  transform: translate(-50%, 5%);
}

.eastFinalist{
  position: absolute;
  transform: translate(300%, 5%);
}

.champion{
  transform: translateY(400%);
}

/* teams */


/* First Round */




/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#phoStats, #nopStats, #dalStats, #utaStats, #memStats, #minStats, #gswStats, #denStats{
  position: absolute;
  transform: translate(500px, -20px);
  border-radius: 40px;
  height: 300px;
  width: 800px;
  border: 1px solid black;
  background: white;
  z-index: 5;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}

#miaStats, #atlStats, #phiStats, #torStats, #bosStats, #brkStats, #milStats, #chiStats{
  position: absolute;
  transform: translate(-450px, -20px);
  border-radius: 40px;
  height: 300px;
  width: 800px;
  border: 1px solid black;
  background: white;
  z-index: 5;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}

.phoPlayers, .nopPlayers, .dalPlayers, .utaPlayers, .memPlayers, .minPlayers, .gswPlayers, .denPlayers, .miaPlayers, .atlPlayers, .phiPlayers, .torPlayers, .bosPlayers, .brkPlayers, .milPlayers, .chiPlayers{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 5px;
}

.player0, .player1, .player2, .player3, .player4, .player5{
  display: flex;
  flex-direction: column;
}



.playerName{
  font-weight: bold;
}

footer{
  display: flex;
  justify-content: space-around;
}

.eastLotto, .westLotto{
  display: flex; 
  width: fit-content;
  align-content: space-between
}

.playin{
  justify-content: space-between;
  
}