/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}




/******************************************
/* BASE STYLES
/*******************************************/

img {
  height: 4rem;
  width:fit-content;
}

footer img{
  height: 3rem;
  width: fit-content;
}

img:hover {
  height: 4.1rem;
  width: fit-content;
}

footer img:hover{
  height: 3.1rem;
  width: fit-content;
}

.uta {
  height: 50px
}

.hidden { /* hides stats */
  display: none;
}




/******************************************
/* LAYOUT
/*******************************************/

/* general bracket arrangement */

main {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  position: relative
}

.firstRound, .secondRound, .thirdRound, .finals, .finalsEast{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 100%;
}

.secondRound {
  justify-content: space-around;
  padding: 5% 0 5% 0;
}

.finals, .finalsEast {
  height: 100%;
}

.finalsEast{
  transform: rotate(90deg);
  transform: scaleX(-1)
    
}

.finals .border, .finalsEast .border {
  height: 25%;
  border-top: 5px solid grey;
}




/* western conference */

.conference{
  display: flex;
  flex: 1;
  height: 800px;
  padding-left: 100px;
}

.firstLeft, .secondLeft, .thirdWest{
  height: 12.5%;
  width: 100%;
  border-top: 5px solid grey;
  border-right: 5px solid grey;
  border-bottom: 5px solid grey;
}

.secondLeft {
  height: 25%;
}

.thirdWest {
  height: 47%;
}

/* eastern conference */

.eastConference {
  display: flex;
  flex: 1;
  height: 800px;
  padding-right: 100px;
}

.firstEast, .secondEast, .thirdEast{
  height: 12.5%;
  width: 100%;
  border-top: 5px solid grey;
  border-left: 5px solid grey;
  border-bottom: 5px solid grey;
}

.secondEast {
  height: 25%;
}

.thirdEast {
  height: 47%;
}


/* TEAMS ARRANGEMENT ON THE BRACKET */

.matchup {
  display: flex;
  flex-direction: column;
  transform: translate(50%, -30px);
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.matchupWest {
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -30px);
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.matchupSecond{
  display: flex;
  flex-direction: column;
  transform: translate(50%, -13%);
  justify-content: space-between;
  align-items: center;
  height: 235px;
}

.matchupSecondWest{
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -13%);
  justify-content: space-between;
  align-items: center;
  height: 235px;
}

.matchupThird{
  display: flex;
  flex-direction: column;
  transform: translate(50%, -7%);
  justify-content: space-between;
  align-items: center;
  height: 430px;
}

.matchupThirdWest{
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -7%);
  justify-content: space-between;
  align-items: center;
  height: 430px;
}

.westFinalist{
  position: absolute;
  transform: translate(-50%, 5%);
}

.eastFinalist{
  position: absolute;
  transform: scaleX(-1) /*correcting flip*/ translate(50%);

}

.champion{
  transform: translate(25%, 30%);
  width: 5%
}

/* teams */


footer{
  display: flex;
  justify-content: space-around;
}

.eastLotto, .westLotto{
  display: flex; 
  width: fit-content;
  align-content: space-between
}

.playin{
  justify-content: space-between;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* styling player stats */

.statsContainer{
  justify-content: center;
}

#Stats{
  position: absolute;
  transform: translate(-55.5%, 5%);
  border-radius: 40px;
  height: 300px;
  width: 800px;
  border: 1px solid black;
  background: white;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  z-index: 1;
}

.Players{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 5px;
}

.player0, .player1, .player2, .player3, .player4, .player5{
  display: flex;
  flex-direction: column;
}

.playerName{
  font-weight: bold;
}

